body {
    /* Margin */
    margin: 0px;
}

.connect-button {
    /* Font */
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* Size */
    height: 40px;

    /* Border */
    border: #FFFFFF 1px solid;
    border-radius: 15px;

    /* Padding */
    padding: 5px 15px 5px 15px;

    /* Margin */
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: 40px;

    /* User Interaction */
    cursor: pointer;
    user-select: none;

    /* Colorimetry */
    background-color: #FFFFFF;
}

nav {
    /* Display */
    display: flex;
    position: absolute;

    /* Content Organisation */
    flex-direction: row;
    justify-content: space-between;

    /* Colorimetry */
    background-color: #4d4dff;

    /* Size */
    width:100%;

    /* Margin */
    margin:0px
}

nav>* {

    /* Display */
    display: flex;

    /* Content Organisation */
    align-items: center;

    /* Size */
    width: fit-content;
}

.nav {
    /* Size */
    height: 64px;
}

.search {
    /* Size */
    height: 200px;
}

.search-bar {
    /* Size */
    width: 1000px;
    height: 50px;

    /* Border */
    border: #000000 1px solid;
    border-radius: 15px;

    /* Margin */
    margin: 0px 0px 0px 100px;

    /* Padding */
    padding: 5px 0px 5px 15px;
}

.search-title {
    /* Margin */
    margin: 96.8px 0px 0px 100px;

    /* Font */
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 25px;
    font-weight: bold;
}

.website-name {
    /* User Interaction */
    user-select: none;
    cursor: pointer;

    /* Font */
    font-family: "Brush Script MT", cursive;
    font-size: 30px;

    /* Margin */
    margin: 0px;
    margin-left: 40px;
}