.back-button-container {
    margin-right: 100px;
}

.center {
    /* Text */
    text-align: center;
}

.center-content {
    /* Content alignement */
    justify-content: center;
}

.daily_calendar {
    /* Display */
    display: flex;

    /* Content alignement */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* Padding */
    padding-top: 32px;
    padding-bottom: 96px;

    /* Margin */
    margin-left: auto;
    margin-right: auto;
}

#date-title {
    /* Text */
    font-size: x-large;
    text-align: center;
    color: black;

    /* Margin */
    margin-bottom: 2rem;

    /* Background */
    background: darkgray;
}

.detail {
    /* Display */
    display: flex;

    /* Content alignement */
    flex-direction: column;

    /* Margin */
    margin-top: 10px;
}

.detail-key {
    /* Margin */
    margin: 5px 0px 5px 0px;
}

.detail-value {
    /* Margin */
    margin-left: 15px;

    /* Padding */
    padding: 5px 10px 5px 10px;

    /* Border */
    border: 1px solid lightgray;
    border-radius: 7px;

    /* Text */
    color: rgb(100, 100, 100);

    /* Selection */
    user-select: none;
}

.full_line {
    /* Border */
    border-bottom: 1px solid darkgrey;
}

.line {
    /* Display */
    display: flex;

    /* Dimension */
    width: 100%;

    /* Margin */
    margin: 10px 0px 10px 0px;
}

#main-day-switch {
    /* Margin */
    margin-bottom: 2rem;
}

.parent {
    /* Display */
    display: grid;

    /* Dimension */
    width: 500px;

    /* Content alignement */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(26, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /* Border */
    border: 1px solid lightgray;
    background-color: lightgray;

    /* Text */
    text-align: center;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; border-bottom: 1px solid rgb(144, 144, 144);}
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 6 / 1 / 7 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div7 { grid-area: 7 / 1 / 8 / 2; }
.div8 { grid-area: 8 / 1 / 9 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div9 { grid-area: 9 / 1 / 10 / 2; }
.div10 { grid-area: 10 / 1 / 11 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div11 { grid-area: 11 / 1 / 12 / 2; }
.div12 { grid-area: 12 / 1 / 13 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div13 { grid-area: 13 / 1 / 14 / 2; }
.div14 { grid-area: 14 / 1 / 15 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div15 { grid-area: 15 / 1 / 16 / 2; }
.div16 { grid-area: 16 / 1 / 17 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div17 { grid-area: 17 / 1 / 18 / 2; }
.div18 { grid-area: 18 / 1 / 19 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div19 { grid-area: 19 / 1 / 20 / 2; }
.div20 { grid-area: 20 / 1 / 21 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div21 { grid-area: 21 / 1 / 22 / 2; }
.div22 { grid-area: 22 / 1 / 23 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div23 { grid-area: 23 / 1 / 24 / 2; }
.div24 { grid-area: 24 / 1 / 25 / 2;  border-bottom: 1px solid rgb(144, 144, 144);}
.div25 { grid-area: 25 / 1 / 26 / 2; }
.div26 { grid-area: 26 / 1 / 27 / 2; }

.parent1 {
    /* Display */
    display: grid;
    position: relative;
    top: -10px;

    /* Margin */
    margin-right: 30px;
    
    /* Dimension */
    width: 15px;

    /* Content alignement */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(26, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /* Text */
    text-align: center;
}

.div1_ { grid-area: 1 / 1 / 3 / 2; }
.div2_ { grid-area: 3 / 1 / 5 / 2; }
.div3_ { grid-area: 5 / 1 / 7 / 2; }
.div4_ { grid-area: 7 / 1 / 9 / 2; }
.div5_ { grid-area: 9 / 1 / 11 / 2; }
.div6_ { grid-area: 11 / 1 / 13 / 2; }
.div7_ { grid-area: 13 / 1 / 15 / 2; }
.div8_ { grid-area: 15 / 1 / 17 / 2; }
.div9_ { grid-area: 17 / 1 / 19 / 2; }
.div10_ { grid-area: 19 / 1 / 21 / 2; }
.div11_ { grid-area: 21 / 1 / 23 / 2; }
.div12_ { grid-area: 23 / 1 / 25 / 2; }
.div13_ { grid-area: 25 / 1 / 27 / 2; }

.hour-row {
    /* Dimension */
    height: 40px;

    /* Text */
    color: black;
}

.row_ {
    /* Display */
    display: flex;

    /* Content alignement */
    justify-content: center;
    align-items: center;
}

.rdv {
    /* Display */
    display: flex;

    /* Background */
    background-color: rgb(0, 220, 255);

    /* Border */
    border: 1px solid rgb(137 137 137 / 75%);

    /* Dimension */
    width: 499px;
    height: 39px;

    /* Content alignement */
    justify-content: center;
    align-items: center;
    
    /* Selection */
    cursor: pointer;
    user-select: none;
}

.rdv:hover {
    /* Background */
    background-color: rgb(0, 200, 255);
}

.switch-day-button {
    /* Display */
    display: flex;

    /* Content alignement */
    justify-content: space-between;
    align-items: center;
}

.switch-day-button>button {
    /* Dimension */
    width: 50%;

    /* Content alignement */
    justify-content: center;
}

.unselectable {
    /* Selection */
    user-select: none;
    cursor: default;
}