.d-active {
	/* Position */
	position: absolute;
	transition: top 0.5s ease;
	top:5%;
}

.d-off {
	/* Position */
	position: absolute;
	transition: top 0.5s ease;
	top:110%;
}

.daily-active {
	/* Dimension */
	max-height: 1400px;
	height: 1400px;
}

.elevator-calendar {
	/* Display */
	display: flex;

	/* Position */
	position: relative;

	/* Overflow */
	overflow: hidden;

	/* Content Alignement */
	justify-content: center;
}

.inputfile {
	/* Size */
	width: 0.1px;
	height: 0.1px;

	/* Opacity */
	opacity: 0;
	overflow: hidden;

	/* Position */
	position: absolute;
	z-index: -1;
}

.monthly-active {
	/* Dimension */
	max-height: 850px;
	height: 850px;
}

.m-active {
	/* Position */
	position: absolute;
	transition: top 0.5s ease;
	top:5%;
}

.m-off {
	/* Position */
	position: absolute;
	transition: top 0.5s ease;
	top:-100%;
}

.profil_pic, .preview_pfp {
	/* Image handling */
    object-fit: cover;

	/* Size */
    width: 100px;
    height: 100px;
}

.top-half {
	height: 1042px;
}

.validate {
	/* Text */
	text-align: center;
	color: black;
	user-select: none;

	/* Margin */
	margin: 0px;

	/* Cursor */
	cursor: pointer;
}

.your_appointments {
	/* Text */
	font-size: xx-large;
	font-family: "Times New Roman", Times, serif;
	text-align: center;

	/* Padding */
	padding: 2rem 0px 0px 0px;
}

.informations_compte {
	/* Padding */
	padding-bottom: 2rem;
}