p {
    margin: 0px;
    padding: 1rem;
}

.align-items-bottom {
    display: flex;
    align-items: end;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.background_popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transform: translate(-50%, -50%);
}

.background_popup_2 {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transform: translate(-50%, -50%);
}

.blue {
    color: #1682E8;
}

.border-left {
    border: #000000 solid 1px;
    border-collapse: separate;
}

.border-right {
    border-right: #000000 solid 1px;
}

.c1 {
    width: 11%;
}

.c2 {
    width: 10%;
}

.c3 {
    width: 10%;
}

.c4 {
    width: 20%;
}

.c5 {
    width: 16%;
}

.c6 {
    width: 16%;
}

.c7 {
    width: 16%;
}

.c8 {
    width: 48%;
}

.center {
    padding-left: 1.5rem;
}

.hidden {
    visibility: hidden;
}

.left {
    position: relative;
    left: -10%;
}

.liaison {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    height: fit-content;
    width: fit-content;

    color: #000000;
    
    border: #000000 solid 1px;
    border-radius: 15px;
    
    margin: 0px;
    margin-left: 1.5rem;
}

.liaison>p {
    text-align: center;
}

.number {
    width: 4rem;
    height: 1.5rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parent>div {
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 1 / 2 / 2 / 3; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 1 / 3 / 2 / 4; }
.div8 { grid-area: 2 / 3 / 3 / 4; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 1 / 4 / 2 / 5; }
.div11 { grid-area: 2 / 4 / 3 / 5; }
.div12 { grid-area: 3 / 4 / 4 / 5; }
.div13 { grid-area: 1 / 5 / 2 / 6; }
.div14 { grid-area: 2 / 5 / 3 / 6; }
.div15 { grid-area: 3 / 5 / 4 / 6; }
.div16 { grid-area: 1 / 6 / 2 / 7; }
.div17 { grid-area: 2 / 6 / 3 / 7; }
.div18 { grid-area: 3 / 6 / 4 / 7; }
.div19 { grid-area: 1 / 7 / 2 / 8; }
.div20 { grid-area: 2 / 7 / 3 / 8; }
.div21 { grid-area: 3 / 7 / 4 / 8; }
.div22 { grid-area: 1 / 8 / 2 / 9; }
.div23 { grid-area: 2 / 8 / 3 / 9; }
.div24 { grid-area: 3 / 8 / 4 / 9; }
.div25 { grid-area: 1 / 9 / 2 / 10; }
.div26 { grid-area: 2 / 9 / 3 / 10; }
.div27 { grid-area: 3 / 9 / 4 / 10; }

.popup {
    height: 580px; 
    width: 700px; 
    position: fixed; 
    top: 50%; left: 50%; 
    background: rgb(240, 240, 240);
    background-size: cover;
    background-position: 90% 50%;
    display: flex; 
    flex-flow: column;
    align-items: center;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.popup_2 {
    height: 250px; 
    width: 600px; 
    position: fixed; 
    top: 50%; left: 50%; 
    background: rgb(240, 240, 240);
    background-size: cover;
    background-position: 90% 50%;
    display: flex; 
    flex-flow: column;
    align-items: center;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.popup_parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 50px;
}

.popup_parent>div {
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow:0 0 0 1px;
}

.popup_parent>.div1 { grid-area: 1 / 1 / 2 / 3; }
.popup_parent>.div2 { grid-area: 2 / 1 / 3 / 3; }
.popup_parent>.div3 { grid-area: 3 / 1 / 4 / 3; }
.popup_parent>.div5 { grid-area: 2 / 4 / 3 / 6; }
.popup_parent>.div4 { grid-area: 1 / 4 / 2 / 6; }
.popup_parent>.div6 { grid-area: 1 / 7 / 2 / 9; }
.popup_parent>.div7 { grid-area: 2 / 7 / 3 / 9; }
.popup_parent>.div8 { grid-area: 3 / 7 / 4 / 9; }
.popup_parent>.div9 { grid-area: 1 / 3 / 2 / 4; }
.popup_parent>.div10 { grid-area: 2 / 3 / 3 / 4; }
.popup_parent>.div11 { grid-area: 3 / 3 / 4 / 4; }
.popup_parent>.div12 { grid-area: 1 / 6 / 2 / 7; }
.popup_parent>.div13 { grid-area: 2 / 6 / 3 / 7; }
.popup_parent>.div14 { grid-area: 1 / 9 / 2 / 10; }
.popup_parent>.div15 { grid-area: 2 / 9 / 3 / 10; }
.popup_parent>.div16 { grid-area: 3 / 9 / 4 / 10; }
.popup_parent>.div17 { grid-area: 3 / 4 / 4 / 7; }

.preci {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    height: fit-content;
    width: 1500px;

    color: #000000;
    
    margin: 0px;
    padding: 0px;
}

.preci>p {
    font-size: 12px;
    text-align: center;
    padding: 0px;
}

.return {
    color: #EFEFEF;
    margin-left:2rem;
    background-color:#C70039;
    border:#C70039 1px solid
}

.return:hover {
    color: #EFEFEF;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    height: fit-content;
    width: 1500px;

    color: #000000;
    
    border: #000000 solid 0px;
    border-radius: 15px;
    
    margin: 0px;
    margin-left: 1.5rem;
}

.title>p {
    text-align: center;
}

.traversee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    height: fit-content;
    width: 1500px;

    background-color: #EFEFEF;
    color: #000000;
    
    border: #000000 solid 1px;
    border-radius: 15px;
    
    margin: 0px;
    margin-left: 1.5rem;
}

.traversee>p {
    text-align: center;
}