/* Css for Calendar */

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

.arrows {
    /* Padding */
    padding: 6px 12px 6px 12px;
}

.calendar {
    /* Display */
    display: flex;

    /* Alignement */
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.day {
    /* Display */
    display: flex;

    /* Alignement */
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.day>p {
    /* Padding */
    padding: 6px;
}

.month {
    /* Padding */
    padding: 0px 12px 0px 12px;
}

.parent {
    /* Display */
    display: grid;

    /* Grid */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parent>* {
    /* Border */
    border: 1px solid black;
}

.div1 { grid-area: 1 / 1 / 2 / 8; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }
.div6 { grid-area: 2 / 5 / 3 / 6; }
.div7 { grid-area: 2 / 6 / 3 / 7; }
.div8 { grid-area: 2 / 7 / 3 / 8; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }
.div13 { grid-area: 3 / 5 / 4 / 6; }
.div14 { grid-area: 3 / 6 / 4 / 7; }
.div15 { grid-area: 3 / 7 / 4 / 8; }
.div16 { grid-area: 4 / 1 / 5 / 2; }
.div17 { grid-area: 4 / 2 / 5 / 3; }
.div18 { grid-area: 4 / 3 / 5 / 4; }
.div19 { grid-area: 4 / 4 / 5 / 5; }
.div20 { grid-area: 4 / 5 / 5 / 6; }
.div21 { grid-area: 4 / 6 / 5 / 7; }
.div22 { grid-area: 4 / 7 / 5 / 8; }
.div23 { grid-area: 5 / 1 / 6 / 2; }
.div24 { grid-area: 5 / 2 / 6 / 3; }
.div25 { grid-area: 5 / 3 / 6 / 4; }
.div26 { grid-area: 5 / 4 / 6 / 5; }
.div27 { grid-area: 5 / 5 / 6 / 6; }
.div28 { grid-area: 5 / 6 / 6 / 7; }
.div29 { grid-area: 5 / 7 / 6 / 8; }
.div30 { grid-area: 6 / 1 / 7 / 2; }
.div31 { grid-area: 6 / 2 / 7 / 3; }
.div32 { grid-area: 6 / 3 / 7 / 4; }
.div33 { grid-area: 6 / 4 / 7 / 5; }
.div34 { grid-area: 6 / 5 / 7 / 6; }
.div35 { grid-area: 6 / 6 / 7 / 7; }
.div36 { grid-area: 6 / 7 / 7 / 8; }
.div37 { grid-area: 7 / 1 / 8 / 2; }
.div38 { grid-area: 7 / 2 / 8 / 3; }
.div39 { grid-area: 7 / 3 / 8 / 4; }
.div40 { grid-area: 7 / 4 / 8 / 5; }
.div41 { grid-area: 7 / 5 / 8 / 6; }
.div42 { grid-area: 7 / 6 / 8 / 7; }
.div43 { grid-area: 7 / 7 / 8 / 8; }