.border-left {
    border: #000000 solid 1px;
    border-collapse: separate;
}

.parent {
    border: #000000 solid 1px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parent>div {
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow:0 0 0 1px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; }
.div6 { grid-area: 1 / 6 / 2 / 7; }
.div7 { grid-area: 2 / 1 / 3 / 2; }
.div8 { grid-area: 2 / 2 / 3 / 3; }
.div9 { grid-area: 2 / 3 / 3 / 4; }
.div10 { grid-area: 2 / 4 / 3 / 5; }
.div11 { grid-area: 2 / 5 / 3 / 6; }
.div12 { grid-area: 2 / 6 / 3 / 7; }