.background_popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 50%;
    left: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transform: translate(-50%, -50%);
}

.bold>p {
    font-weight:900;
}

.c1 {
    width: 15%;
}

.c2 {
    width: 20%;
}

.c3 {
    width: 20%;
}

.c4 {
    width: 35%;
}

.c5 {
    width: 10%;
}

.clickable {
    cursor: pointer;
}

.div_button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_button>p {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #f5f5f5;
    margin: 0px;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hidden {
    visibility: hidden;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon_box {
    align-items: center;
    border: solid 1px #f5f5f5;
    color: #f5f5f5;
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    padding: 1rem;

    height: fit-content;
    width: 1000px;
}

.in_liaison {
    margin: 0px;
    margin-right: 45px;
}

.invalide::-webkit-calendar-picker-indicator {
    display: none;
}

.left {
    left: 2%;
}

.liaison {
    align-items: center;
    border: solid 1px #f5f5f5;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: 1.5rem;
    padding: 1rem;
    height: fit-content;
    width: fit-content;
}

.page {
    height: 100%;
    position: absolute;
    top: 100%;
    transition: top 0.5s ease;
    width: 100%;
}

.page.active {
    top: 5%;
}

.page.bottom {
    top: 110%;
}

.page.top {
    top: -100%;
}

.pointer {
    cursor: pointer;
}

.popup {
    height: 600px; 
    width: 700px; 
    position: fixed; 
    top: 50%; left: 50%; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/ajout_horaire.jpg);
    background-size: cover;
    background-position: 90% 50%;
    display: flex; 
    justify-content: center;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.popup * {
    color: #FFFFFF;
}

.popup h1 {
    color: #3d81c5;
}

.popup *>option {
    color: #808B8D;
}

.scroller {
    height: 686px;
    width: 1229px;
    overflow: hidden;
    position: relative;
}

.switcher {
    display: flex;
    flex-direction: row;
}

.switcher_button {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../public/booking.jpg);
    border: 1px solid #000000;
    border-radius: 100%;
    height: 40px;
    margin-left: 3px;
    padding: 0px;
    width: 40px;
}

.third {
    width: 33%;
}

.title {
    height: fit-content;
    margin-left: 1.5rem;
}

.traversees {
    align-items: center;
    border: solid 1px #f5f5f5;
    color: #f5f5f5;
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 1000px;
}

.traversees>p {
    margin: 0;
    text-align: center;
}

#add_button {
    width:100%;
    max-width:100%;
    font-weight:bold
}

#add_button:hover {
    color: #000000;
    transition: 0.5s;
    background-color: #F5F5F5;
    border-color: rgba(255, 0, 0, 0.25);
}

#add_form>div {
    width: 60%;
}

#delete{
    width:fit-content;
    height:58px;
    
    margin-left:0.5rem;
    
    text-align:center;
    
    user-select:none;
}

#edit_button {
    width:fit-content;
    height:58px;
    
    margin-left:0.5rem;
    
    text-align:center;
    
    user-select:none;
}

#edit_inputs {
    height: 24px;

    margin: 0px;

    background-color: rgba(255,255,255,0.125);
    color: #000000;

    text-align: center;
}

#edit_inputs::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

#edit_inputs[type="number"]::-webkit-outer-spin-button,
#edit_inputs[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#edit_inputs[type="number"] {
    -moz-appearance: textfield;
}

#grayed {
    color: #000000;
    background: rgba(50, 50, 50, 0.50);
    border: #000000 1px solid;
    cursor: default;
}

#next {
    background: rgba(0, 0, 0, 0);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 1px #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

#next:hover {
    background: rgba(0, 0, 0, 0.25);
}

#reset {
    max-width: 58px;
    font-weight: normal;
    color: #FFFFFF;
}

#reset:hover {
    background-color: transparent;
}

#validate {
    width:fit-content;
    height:58px;
    
    margin-left:0.5rem;
    
    text-align:center;
    
    user-select:none;
}